<section class="bg-cover bg-right h-screen flex justify-between items-center" id="section">
    <div class="w-150 ml-30">
        <h1 class="text-white text-7xl font-black">BIENVENIDO A <br> COLECCION DE SUPERHEROES</h1>
        <h3 class="text-white font-bold">Con esta aplicacion web vas a poder administrar tus superheroes favoritos, logrando agregar nuevos superheroes, actualizarlos y si nos deja de agradar alguno,
             no hay problema, podras eliminarlos.</h3>
        <h3 class="text-white font-bold">Manos a la obra, a guardar nuestros Superheroes favoritos!   </h3>
    </div>
</section>

<style>
#section{
    background-image: url(/images/imagee.jpg);
}
</style>